.page-placeholder {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.page-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.page-subtitle {
  color: #9ca3af;
}
